* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: teal;
    list-style-type: none;
    width: 100%;
    height: 55px;
    padding: 12px 12px;
}

.navbar li a, .navbar li button {
    border: none;
    float: left;
    text-decoration: none;
    padding: 8px 14px;
    border-right: 1px solid rgb(255, 255, 255);
    color: azure;
    font-weight: 400;
    background-color: teal;
}

.container__home {
    height: 500px;
    background-color: teal;
    width: 90%;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 15px;
    margin-top: 50px;
    text-align: center;
    color: burlywood;
}

.container__home p {
    color: whitesmoke;
}

.button__link {
    margin-top: 20px;
    padding: 12px 8px;
    border: none;
    background-color: teal;
    box-shadow: 0px 0px 10px 3px white;
    border-radius: 12px;
}

.button__link a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
}

.container__guilds {
    padding: 20px 18px;
    margin-top: 20px;
    height: 500px;
    margin: 0 auto;
    width: 80%!important;
    border-radius: 10px;
    justify-content: space-between;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 300px);
}

.card__guild {
    height: 250px;
    background-color: teal;
    border-radius: 18px;
    text-align: center;
    padding: 12px 8px;
}

.card__guild img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

.button__guild {
    box-shadow: 0px 0px 10px 3px white;
    text-decoration: none;
    color: white;
    padding: 12px 8px;
    border-radius: 12px;
}

.card__guild h3 {
    margin-bottom: 60px;
}

.form {
    height: 800px;
    background-color: teal;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    border-radius: 18px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 18px 22px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: whitesmoke;
}

.form h1 {
    color: black;
}

.input__embed_button {
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    background-color: thistle;
    padding: 8px;
    font-size: large;
    font-weight: bold;
    margin: 0 auto;
    width: 180px;
}

.input__embed {
    border-radius: 6px;
    height: 30px;
    border: 1px solid black;
}

.input__embed__color {
    border: none;
    -webkit-appearance: none;
    margin: 0 auto;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: black;
}

.input__embed__color::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
    padding: 0;
    height: 100%;
    width: 100%;
}

li.right_float a, li.right_float button {
    float: right;
    border-right: none;
}